.preview {
  margin: 0;
  padding: 0;
}

.preview .rendered {
  padding: 0;
  position: relative;
}

.preview * {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #333 !important;
}

.logo {
  background-image: url('img/logo-zenika.png');
  background-size: 169px 38px;
  width: 169px;
  height: 38px;
  margin: 20px 20px -10px;
}

.header1, .header2, .header3 {
  width: 100%;
}

.header1 {
  background-image: url('img/header1.png');
  background-size: 100% 26px;
  height: 26px;
}

.header2 {
  background-image: url('img/header2.png');
  background-size: 100% 45px;
  height: 45px;
}

.header3 {
  background-image: url('img/header3.png');
  background-size: 100% 21px;
  height: 21px;
}

.presentation {
  color: white;
  background-image: url('img/red-pixel.png');
  position: relative;
  min-height: 60px;
  line-height: normal;
}

.presentation .name {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 42px !important;
  font-weight: bold;
}

.presentation .role {
  position: absolute;
  font-weight: bold;
  text-align: left;
  right: 20px;
  font-size: 20px !important;
  top: -8px;
}

.presentation .experience {
  position: absolute;
  text-align: left;
  right: 20px;
  font-size: 20px !important;
  top: 16px;
}

.description {
  color: white;
  background-image: url('img/grey-pixel.png');
  min-height: 78px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  line-height: normal;
}

.description .center {
  text-align: center !important;
}

.preview .description .table {
  margin: 0;
  padding: 0;
  list-style-type: none;

  font-size: 20px !important;

}

/*.description > table ul:first-child {
  font-weight: bold;
  font-size: 20px !important;
  text-transform: none;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
}*/

.premiereColonne{
  width: 39%;
  display: inline-block;
}

.colonne {
  width: 29%;
  display: inline-block;
}

.expertise {
  float: left;
  width: 33%;
  padding: 20px 60px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.expertise .title, .mission-title .title, .chunk h1  {
  font-size: 16px !important;
  text-transform: uppercase;
  margin-bottom: 0px;
  display: inline-block;
}

.chunk h1  {
  margin: 20px 0 0 0;
}

.expertise ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.expertise .expertise-icon {
  margin-top: 70px;
  display: inline-block;
}

.mission-title {
  position: absolute;
  left: 33%;
  padding: 20px 20px 0px 0px;
}

.chunk {
  padding: 0 20px;
  margin: 0 0 14px;
  position: relative;
}

.experience .chunk h1, .experience .chunk h2, .experience .chunk h3 {
  font-size: 14px !important;
  font-weight: bold;
  padding: 0;
}

.experience .chunk h1 {
  padding: 0px 0 14px 0;
}

.experience .chunk h3 {
  padding: 0 0 14px 0;
  margin-top: -24px;
}

.experience .chunk h2 {
  margin: 0 0 14px 0;
  position: absolute;
  top: -49px;
  right: 20px;
}

.chunk ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chunk ul li p {
  padding: 0;
  margin: 0;
}

.chunk ul li > ul li::before {
  content: '\25CF';
  width: 12px;
  display: inline-block;
  font-size: 8px !important;
  vertical-align: 3px;
}

.chunk ul li > ul {
  margin-bottom: 14px;
}

/*first*/
.experience {
  margin-left: 33%;
  padding: 0 20px 0 0;
}

/*others*/
.experience ~ .experience {
  margin-left: 0;
  padding: 0;
}

@media print {
  .preview .presentation *, .preview .description * {
    color: white !important;
    line-height: normal !important;
  }

  .layout .editor .preview{
    overflow: auto !important;
    height: auto !important;
  }

  .experience {
    page-break-inside: avoid !important;
  }

  .chunk-page-break {
    page-break-before: always !important;
  }
}

.preview .presentation *, .preview .description * {
  color: white !important;
  line-height: normal !important;
}

.experience {
  page-break-inside: avoid !important;
}

.chunk-page-break {
  page-break-before: always !important;
}

.presentation .experience {
  padding: 0;

  margin: 0;
}

.expertise-icon{
  zoom : 0.25;
  &.archive{
    background-image: url('img/icons/expertise-archive.png');
    background-size: 75px 70px;
    width: 75px;
    height: 70px;
  }
  &.cloud{
    background-image: url('img/icons/expertise-cloud.png');
    background-size: 90px 57px;
    width: 90px;
    height: 57px;
  }
  &.file{
    background-image: url('img/icons/expertise-file.png');
    background-size: 60px 69px;
    width: 60px;
    height: 69px;
  }
  &.flag{
    background-image: url('img/icons/expertise-flag.png');
    background-size: 71px 77px;
    width: 71px;
    height: 77px;
  }
  &.leaf{
    background-image: url('img/icons/expertise-leaf.png');
    background-size: 69px 74px;
    width: 69px;
    height: 74px;
  }
  &.talk{
    background-image: url('img/icons/expertise-talk.png');
    background-size: 81px 75px;
    width: 81px;
    height: 75px;
  }
}
