/*
 * Footer component
 */

footer.main {
  padding: 0.5rem 1rem;
  background-color: #acafaa;
  color: white;
  font-family: $footer-font-family;
  font-size: $footer-font-size;

  .languageToggle {
    input {
      display: none;
    }
    input:checked+label {
      color: #fff;
      background-color: #27ae60;
    }
    label {
      border-radius: 5px;
      margin: 0 7px;
      vertical-align: top;
      font-size: $footer-font-size;
      display: inline-block;
      background-color: #ddd;
      padding: 0 12px;
      cursor: pointer;
    }
  }

  .credits {
    float: left;
  }

  a, a:hover {
    color: white;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  a.btn {
    float: right;
    background-color: white;
    color: #acafaa;
    padding: 3px;
    text-decoration: none;
    border-radius: 7px;
    line-height: 12px;
  }

  .version {
    float: right;
    margin-top: 0.1rem;

    .git-ref {
      padding: 0.4rem 0.5rem 0.3rem;
      border-radius: $global-radius;
      background-color: darken($td-blue, 10%);
      color: $white;
    }
  }

  .viewLink{
    float: right;
  }
}

.viewMode {
  footer {
    display: none;
  }
}
