/*
 * Footer component
 */

footer.main {
  padding: 0.5rem 1rem;
  background-color: #acafaa;
  color: white;
  font-family: $footer-font-family;
  font-size: $footer-font-size;

  .credits {
    float: left;
  }

  a, a:hover {
    color: white;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  a.btn {
    float: right;
    background-color: white;
    color: #acafaa;
    padding: 3px;
    text-decoration: none;
    border-radius: 7px;
    line-height: 12px;
  }

  .version {
    float: right;
    margin-top: 0.1rem;

    .git-ref {
      padding: 0.4rem 0.5rem 0.3rem;
      border-radius: $global-radius;
      background-color: darken($td-blue, 10%);
      color: $white;
    }
  }

  .viewLink{
    float: right;
  }
}

.viewMode {
  footer {
    display: none;
  }
}
