/*
 * Markdown component
 */

.markdown {

    & > textarea {
        display: none;
    }

    .CodeMirror {
        height: inherit;
        line-height: 18px;
        font-size: 14px !important;
    }
}
